apiVersion: v1
kind: Service
metadata:
  name: image-rec
spec:
  ports:
  - port: 8080
    name: http
  selector:
    app: image-rec
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: image-rec
spec:
  selector:
    matchLabels:
      app: image-rec
  template:
    metadata:
      labels:
        app: image-rec
    spec:
      containers:
      - name: image-rec
        image: gcr.io/bookshelf-next-2019/image-rec
        ports:
          - containerPort: 8080
